@import 'base/variables';
@import 'base/font';
@import 'base/mixins';

.form-wrap.form-builder {
  @import 'base/bs';
  @import 'base/animation';
  @import 'controls';
  @import 'stage';
  @import 'kc-toggle';
  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  /* Common between stage and controls */
  .cb-wrap,
  .stage-wrap {
    vertical-align: top;

    &.pull-right {
      float: right;
    }

    &.pull-left {
      float: left;
    }
  }
}

@import 'dialog';